<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>

<body>
    <div class="container">
        <% include ./partials/navbar %>
        <div class="row">
            <div class="col-10">
                <h1 class="text-left col-9"><%= scholarship.name %></h1>
            </div>
            <div class="col-2">
                <a href="<%= scholarship.detail_link %>/edit %>" class="btn btn-primary btn-md" role="button">Edit this Scholarship</a>
            </div>
        </div>
        <p>Offering Unit: <%= scholarship.offering_unit %></p>
        <p>Minumum GWA Required: <%= scholarship.minimum_gwa %></p>
        <p>Minumum Number of Units Required: <%= scholarship.minimum_units_required %></p>
        <p>Allowed Grades:</p>
        <ul>
            <li>4.00: <%= scholarship.allowed_bad_grades['4'] %></li>
            <li>5.00: <%= scholarship.allowed_bad_grades['5'] %></li>
            <li>DROP: <%= scholarship.allowed_bad_grades['drop'] %></li>
            <li>INC: <%= scholarship.allowed_bad_grades['inc'] %></li>
        </ul>
        <p>Total Receiable Amount per Year: <%= scholarship.total_receivable %></p>
        <p>Exclusive to the following courses: <%= scholarship.exclusive_courses.join(', ') %></p>
        <p>Additional Information: <%= scholarship.additional_information %></p>
        <p> Scholarship File: <a href="<%= scholarship.file_link %>">View Here</a> </p>
    </div>
</body>

</html>