<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>

<body>
    <div class="container">
        <% include ./partials/navbar %>
        <br>
        <div class="row">
            <div class="col-10">
                <h1 class="text-left col-9"><%= scholarship.name %></h1>
            </div>
            <div class="col-2">
                <a href="<%= scholarship.detail_link %>/edit %>" class="btn btn-primary btn-md" role="button">Edit this Scholarship</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <p><strong>Offering Unit:</strong> <%= scholarship.offering_unit %></p>
                <p><strong>Minumum GWA Required:</strong> <%= scholarship.minimum_gwa %></p>
                <p><strong>Minumum Number of Units Required:</strong> <%= scholarship.minimum_units_required %></p>
                <p><strong>Allowed Grades:</strong></p>
                <ul>
                    <li>4.00: <%= scholarship.allowed_bad_grades['4'] %></li>
                    <li>5.00: <%= scholarship.allowed_bad_grades['5'] %></li>
                    <li>DROP: <%= scholarship.allowed_bad_grades['drop'] %></li>
                    <li>INC: <%= scholarship.allowed_bad_grades['inc'] %></li>
                </ul>
                <p><strong>Total Receiable Amount per Year:</strong> <%= scholarship.total_receivable %></p>
                <p><strong>Exclusive to the following courses:</strong> <%= scholarship.exclusive_courses.join(', ') %></p>
                <p><strong>Additional Information:</strong> <%= scholarship.additional_information %></p>
                <p><a href="<%= scholarship.file_link %>">View Scholarship File</a></p>
            </div>
            <div class="col-6">
                <iframe src="<%= scholarship.file_link %>" style="width: 100%;height: 100%;border: none;"></iframe>
            </div>

    </div>
</body>

</html>