<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>

<body>
    <div class="container">
        <% include ./partials/navbar %>
        <h1 class="text-center">UPD Scholarships</h1>
        <br>
        <form method="GET" action="/scholarships">
            <div class="row">
                <div class="form-group col-xs-4 col-md-6">
                    <label><strong>Scholarship Name</strong></label>
                    <input type="text" class="form-control " name="name" <% if (name) { %> value="<%= name %>" <% } %> >
                </div>
                <div class="form-group col-xs-4 col-md-6">
                    <label><strong>GWA</strong></label>
                    <input type="number" step=".01" class="form-control" name="gwa" <% if (gwa) { %> value="<%= gwa %>" <% } %> >
                </div>
                <div class="form-group col-xs-4 col-md-6">
                    <label><strong>Scholarship Amount Per Year (PHP)</strong></label>
                    <input type="number" step="1" class="form-control" name="amount_required" <% if (amount_required) { %> value="<%= amount_required %>" <% } %> >
                </div>
                <div class="form-group col-xs-4 col-md-6">
                    <label><strong>Course</strong></label>
                    <select name="course" class="form-control mx-sm-1" id="">
                        <% if (course && course != 'Any Course') { %>
                            <option value="<%= course %>"><%= course %></option>
                            <option value="Any Course">Any Course</option>
                        <% } else { %>
                            <option value="Any Course">Any Course</option>
                        <% } %>
                        <% for(let i = 0; i < courses.length; i++) { %> 
                            <option value="<%= courses[i] %>"> <%= courses[i] %> </option>
                        <% } %>
                    </select>
                </div>
                
                <div class="form-group col-xs-4 col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Scholarship Name</td>
                    <td>GWA Required</td>
                    <td>Offering Unit</td>    
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < scholarships.length; i++) { %>
                    <tr>
                        <td><a href="<%=scholarships[i].detail_link%>"><%= scholarships[i].name %></a></td>
                        <td><%= scholarships[i].minimum_gwa %></td>
                        <td><%= scholarships[i].offering_unit %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <% include ./partials/scripts %>
</body>

</html>
